*{
    padding: 0px;
    margin: 0px;
}
body{
    background-color: rgb(255, 97, 5);
}
h3{
    margin-top: 5px;
    margin-bottom: 5px;
}
img{
    padding: 10px;
}
.box{
    display: flex;
    gap: 10px;
    width: 400px;
    background-color: white;
    border-radius: 10px;
}
h1{
    text-align: center  ;
}
body{
    margin-top: 10%;
}